<!DOCTYPE hmtl>
<html>
<head>
  <title>
    Mystery Word Game
  </title>
</head>
<body>

  <div class="MysteryGame">

  <header>Mystery Word<header>

  <p>you have {{ guessCountdown }} guesses left.</p>

  <form method="post" action="/">
    <p>
        {{ #DropWord }}
          {{ Hint }}
        {{ /DropWord }}
    <p>
    <p><input type="text" name="mysteryLetter"><p>
    <p><input type="submit" value="Make A Guess"><p>
  </form>

  <p><strong>Letters Guessed:</strong> {{ guessedLetters }}</p>

  </div>

</body>
</html>
