<!DOCTYPE hmtl>
<html>
<head>
  <title>
    Mystery Word Game
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <div class="MysteryGame">

  <header>Mystery Word Game<header>

  <p>you have {{ DropWord.guessCountdown }} guesses left.</p>

  <form method="post" action="/">
    <p class="DropWordGuess">
        {{ #DropWord.Hint }}
          {{ . }}
        {{ /DropWord.Hint }}
        {{ #DropWord.gameOver}}
        {{ DropWord.Answer }}
        {{ /DropWord.gameOver }}
    <p>
    <p><input type="text" name="GiveMeALetter" maxlength="1"><p>
    <p><input type="submit" value="Make A Guess"><p>
  </form>

  <p>{{ #DropWord.samenessAGAIN }} You already freakin' guessed this letter. TRY AGAIN. {{ /DropWord.samenessAGAIN }}</p>

  <p><strong>Letters Guessed: {{ DropWord.LettersAlreadyGuessed }}</strong></p>

  </div>

</body>
</html>
